# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*/node_modules
public/hot
public/storage
#/public/js
#/public/css
#/public/fonts
#/storage/*.key
*/vendor
/.idea
#.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
.DS_Store
/panel/public/js
/panel/public/css/app.css
/panel/public/css/app.css.map
/panel/public/css/main.css
/panel/public/css/main.css.map
/panel/.env
/panel/public/mix-manifest.json
CODEOWNERS
package-lock.json